html, body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.link {
color: #4DB6AC;
transition: all 0.2s linear;
}
.link:hover, .link:focus {
color: #64FFDA;
}

.mdl-layout__drawer {
  width: 320px !important;
}

.mdl-layout__content {
  margin-left: 320px !important;
}

.is-small-screen>.mdl-layout__drawer {
  width: 240px !important;
  left: -120px !important;
}

.is-small-screen>.mdl-layout__drawer.is-visible {
  left: 0 !important;
}

.is-small-screen>.mdl-layout__content {
  margin-left: 0 !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after, [type="checkbox"].filled-in:checked+label:after {
  background-color: #1de9b6;
  border: 2px solid #1de9b6;
}

[type="checkbox"]:checked+label:before {
  border-right-color: #1de9b6;
  border-bottom-color: #1de9b6;
}

[type="checkbox"]+label, [type="radio"]+label {
  color: rgba(0,0,0,.87);
  font-size: 14px;
  letter-spacing: .04em;
}

.indent {
  padding-left: 50px !important;
}

[type="checkbox"]+label.multiline {
  line-height: 14px;
}

.secondary {
  color: rgba(0,0,0,.62);
  font-size: 11px;
  line-height: 11px;
}

.collapsible-header {
  color: #fafafa;
  font-size: 16px;
  line-height: 16px;
  padding: 13px 14px;
  letter-spacing: .04em;
}

.collapsible-header i {
  line-height: 16px;
}

.collapsible-body {
  padding: 1rem;
}

.collapsible-body p {
  padding: 0 0 .5rem 0;
  color: rgba(0,0,0,.87);
}

.collapsible-body p.narrow {
  padding: 0 0 .25rem 0;
}

.collapsible-body p:last-child {
  padding: 0;
}

.popup-content {
  max-width: 300px;
}

.note {
  font-size: small;
  line-height: 18px;
}

path {
	stroke: red;
	stroke-width: 2;
	fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
